.form {
  display: flex;
  flex-direction: row;
  gap: 12px;
  align-items: center;
  margin-top: 12px;
}
.input {
  width: 320px;
  height: 36px;
  font-size: 18px;
  border: 1px solid rgb(8, 8, 137);
  color: rgb(8, 8, 137);
  border-radius: 10px;
  padding-left: 8px;
}
.button {
  width: fit-content;
  padding: 8px;
  border-radius: 10px;
  color: azure;
  background-color: rgb(42, 36, 150);
  border: none;
  font-size: 18px;
}
